
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h4>반려견 사료 양 계산기</h4>
      <h1 class="display-5">Dogfood Advisor</h1>
      <p class="lead mb-5">by DogsChef</p>

      <p><a class="btn btn-lg btn-outline-primary" href="calc/calc1">Start</a></p>
    </div>
