<div class="container" style="margin-top:10%;margin-bottom:10%">
  <div class="row">
			<div class="col-md-6 offset-md-3">
                {{#if required}}
                <div id="login_message" class="jumbotron pt-2 pb-2">
                    <p><h5>{{{login_message}}}</h5></p>
                </div>
                {{/if}}
                <div id="login_register_alert">
                </div>
				<div class="card panel-login">
					<div class="card-header panel-heading">
						<div class="row text-center">
							<div class="col-md-6">
								<a href="#" class="active" id="login-form-link">로그인</a>
							</div>
							<div class="col-md-6">
								<a href="#" id="register-form-link">회원가입</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<form id="login-form" action="/user/login" method="post" role="form" style="display: block;">
                                    <input type="hidden" name="referer" value="{{referer}}"/>
                                    <input type="hidden" id="login-hashed_password" name="hashed_password"/>
									<div class="form-group">
										<input type="text" name="userid" id="login-userid" tabindex="1" class="form-control" placeholder="아이디">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="login-password" tabindex="2" class="form-control" placeholder="패스워드">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-md-6 offset-md-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="로그인">
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" action="/user/register" method="post" role="form" style="display: none;">
                                    <input type="hidden" id="register-hashed_password" name="hashed_password"/>
									<div class="form-group">
										<input type="text" name="userid" id="register-userid" tabindex="1" class="form-control" placeholder="아이디" value="">
									</div>
									<div class="form-group">
										<input type="text" name="username" id="register-username" tabindex="1" class="form-control" placeholder="이름" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="register-password" tabindex="2" class="form-control" placeholder="패스워드">
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" id="register-confirm-password" tabindex="2" class="form-control" placeholder="패스워드 확인">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-md-6 offset-md-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="회원가입하기">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src="/js/sha256.js"></script>
<script>
  $(document).ready(function() {
    $(function() {
      $('#login-form-link').click(function(e) {
    		$("#login-form").delay(100).fadeIn(100);
     		$("#register-form").fadeOut(100);
    		$('#register-form-link').removeClass('active');
    		$(this).addClass('active');
    		e.preventDefault();
    	});
    	$('#register-form-link').click(function(e) {
    		$("#register-form").delay(100).fadeIn(100);
     		$("#login-form").fadeOut(100);
    		$('#login-form-link').removeClass('active');
    		$(this).addClass('active');
    		e.preventDefault();
    	});
    });

    $("#register-submit").on('click',function(e){
        e.preventDefault();
        if($("#register-confirm-password").prop("value") !== $("#register-password").prop("value")) {
            alert('비밀번호와 비밀번호 확인이 같지 않습니다.');
        } else {
            $("#register-hashed_password").val(SHA256($("#register-password").val()));
            $.ajax({
                url: '/user/register',
                type: 'post',
                data: $('#register-form').serialize(),
                success: function(data){
                    if(data.status == "OK"){
                        location.href="/user/login?required=register";
                    }
                    else {
                        let alert_html = "<div class='alert alert-danger' role='alert'>" +
                                            data.message
                                        + "</div>";
                        $("#login_register_alert").html(alert_html);
                    }
                }
            });

      }
    });

    $("#login-submit").on('click',function(e){
      e.preventDefault();
      $("#login-hashed_password").val(SHA256($("#login-password").val()));
      $.ajax({
          url:'/user/login',
          type:'post',
          data:$('#login-form').serialize(),
          success:function(data){
            if(data.status == "OK"){
                if(data.referer.endsWith("/user/login")) {
                    location.href="/";
                } else {
                    location.href=data.referer;
                }
            }
            else {
                let alert_html = "<div class='alert alert-danger' role='alert'>" +
                                    data.message
                                + "</div>";
                $("#login_register_alert").html(alert_html);
                $("#login_message").hide();
                $("#login-password").val("");
            }
          }
      });
    });
  });

</script>
