<div class="container">
  <div class="jumbotron jumbotron bg-cover">
    <div class="overlay"></div>
  </div>
</div>
<form action="/calc/calc2" method="post">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h4>01. 반려견의 나이를 선택해주세요.</h4>
        <hr class="hr-bold mb-3">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <p class="lead">
              <input class="magic-radio" type="radio" value="1" id="radio_pet_age_under_4_months" name="pet_age" required>
              <label for="radio_pet_age_under_4_months">4개월 이하</label>
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <p class="lead">
              <input class="magic-radio" type="radio" value="2" id="radio_pet_age_4_7_months" name="pet_age" required>
              <label for="radio_pet_age_4_7_months">4~7개월</label>
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <p class="lead">
              <input class="magic-radio" type="radio" value="3" id="radio_pet_age_7_12_months" name="pet_age" required>
              <label for="radio_pet_age_7_12_months">7~12개월</label>
            </p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-4 col-sm-12">
            <p class="lead">
              <input class="magic-radio" type="radio" value="4" id="radio_pet_age_adult" name="pet_age" required>
              <label for="radio_pet_age_adult">1~5년</label>
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <p class="lead">
              <input class="magic-radio" type="radio" value="5" id="radio_pet_age_senior" name="pet_age" required>
              <label for="radio_pet_age_senior">6년 이상</label>
            </p>
          </div>
        </div>

        <h4>02. 반려견의 몸무게를 입력해주세요.<small> (소수점 둘째 자리 까지 입력 가능)</small></h4> 
        <hr class="hr-bold mb-3">

        <div class="row mb-5">
          <div class="col-md-1"></div>
          <div class="col-md-10 col-xs-12">
            <div class="input-group mb-3">
              <input name="pet_weight" value="" step="0.01" type="number" class="form-control" placeholder="" aria-describedby="basic-addon2" required>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">kg</span>
              </div>
            </div>
          </div>
        </div>

        <h4>03. 반려견의 활동량은 어느정도 입니까?</h4>
        <hr class="hr-bold mb-3">

        <div class="row mb-5">
          <div class="col-md-4 col-sm-12">
            <p class="lead">
              <input class="magic-radio" type="radio" value="1" id="radio_pet_less_active" name="pet_activity" required>
              <label style="padding-top:-20px" for="radio_pet_less_active">비활동적</label>
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <p class="lead">
              <input class="magic-radio" type="radio" value="2" id="radio_pet_medium_active" name="pet_activity" required>
              <label for="radio_pet_medium_active">보통</label>
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <p class="lead">
              <input class="magic-radio" type="radio" value="3" id="radio_pet_most_active" name="pet_activity" required>
              <label for="radio_pet_most_active">매우 활동적</label>
            </p>
          </div>
        </div>
          <input type="submit" value="NEXT" class="btn btn-dark btn-lg right-box col-md-6"/>
      </div>
    </div>
  </div>
</form>
